body {
    background-color: #ffffff;
}

/*** LOGIN FORM STYLES ***/
#login {
    max-width: 400px;
    margin: 50px auto;
    background: #ffffff;
    border-radius: 4px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#login h1 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 0px 0px;
    color: #006eb6;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#login ul {
    list-style: none;
    padding: 0;
    margin: 0;	
}

/* Input border w/ floating label */
.input-container {
    display: block;
    padding: 9px;
    border: 1px solid #006eb6;
    margin-bottom: 30px;
    border-radius: 3px;
}

#login label {
    display: block;
    float: left;
    margin-top: -19px;
    background: #ffffff;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #006eb6;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#login input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
}

/* Hints */
.input-container > .hint {
    background: #f3f3f3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #006eb6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    border-radius: 3px;
}

/* Submit button */
#submit {
    background: #ffffff;
    border: 2px solid #006eb6;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    color: #006eb6;
}

#submit:hover {
    background: #9bc8e5;
}

#submit:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

#submit-container {
    display: block;
    border: none;
    text-align: center;
    margin-bottom: 15px;
}

/*** RESULTS ***/
#results {
    text-align: center;
    margin-top: 15px;
}

/*
Loading bar
Credited to: https://vineethtrv.github.io/loader/
*/
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ffffff;
    border-bottom-color: #006eb6;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
      